.wrapper{
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.select__holder{
    width: 30%;
    padding-left: 3%;
    display: grid;
    grid-template-columns: repeat(4, 60%);
    grid-gap: 5%;
}

.plot__holder{
    justify-self: center;
    border-radius: 5%;
    border-style: none;
    overflow: hidden;
}
